.about-container {
  max-width: 100%;
  margin: auto;
  padding: 40px 80px;
  position: relative;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid black;
}

.about-title {
  font-size: 72px;
  margin-left: 60px;
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text-content {
  flex: 1;
  max-width: 40%;
  min-width: 20%;
  font-weight: bolder;
  font-size: 18px;
  line-height: 2;
}

.black-dot {
  font-size: 1rem;
  vertical-align: middle;
  line-height: 1em;
}

.image-container {
  flex: 1;
  max-width: 45%;
}

.main-image {
  width: 60%;
  border-radius: 5%;
  object-fit: cover;
  overflow: hidden; /* Skjuler overskydende billede ved zoom */
  margin-top: -20%;
}

.circular-image-container {
  position: absolute;
  bottom: 15px;
  left: 80px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circular-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-title {
    font-size: 48px;
    margin-left: 40px;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .text-content, .image-container {
    max-width: 100%;
  }

  .image-container {
    margin-top: 20px;
  }

  .circular-image-container {
    width: 100px;
    height: 100px;
  }
}