.front-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.front-page-hero {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  height: 80vh;
  background-size: 125%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Definér slide-in animationer */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%); /* Starter fra venstre */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Slutter i sin oprindelige position */
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); /* Starter fra højre */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Slutter i sin oprindelige position */
    opacity: 1;
  }
}

/* Anvend animationerne på div'en og dens elementer */
.front-page-hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
}

.front-page-hero h1 {
  font-size: 3rem;
  line-height: 1.5;
  animation: slideInFromLeft 1s ease-out; /* Glide fra venstre */
}

.front-page-hero p {
  font-size: 1.5rem;
  animation: slideInFromRight 1s ease-out; /* Glide fra højre */
}

@media (max-width: 768px) {
  .front-page-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
  }
  .front-page-hero h1 {
    font-size: 1.2rem; /* Mindre skriftstørrelse til h1 på mindre skærme */
  }

  .front-page-hero p {
    font-size: 0.8rem; /* Mindre skriftstørrelse til p på mindre skærme */
  }
}

@media (max-width: 430px) {
  .front-page-hero {
    height: 228px;
  }
  .front-page {
    margin-top: 0px;
  }

  .front-page-hero h1 {
    font-size: 1rem; /* Endnu mindre skriftstørrelse til h1 på meget små skærme */
  }

  .front-page-hero p {
    font-size: 1rem; /* Endnu mindre skriftstørrelse til p på meget små skærme */
  }
}

.front-page-work-header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  background-size: 125%;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: unset;
}

.front-page-work-header p {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.front-page-work-header div {
  width: 30%;
  border-bottom: 1px solid rgb(0, 0, 0);
}
@media screen and (max-width: 1000px) {
  .front-page-work-header div {
    width: 10%;
  }
}
