.front-page-work-header {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  background-size: 125%;
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: unset;
}

.front-page-work-header p {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.front-page-work-header div {
  width: 30%;
  border-bottom: 1px solid rgb(0, 0, 0);
}
@media screen and (max-width: 1000px) {
  .front-page-work-header div {
    width: 10%;
  }
}
