/* Reset styling */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  width: 100vw;
}

section {
  width: 100%;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Sort baggrund med gennemsigtighed */
  position: relative;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center; /* Gør at logoet og knappen står på linje vertikalt */
  width: 100px;
  height: 80px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  margin-left: 20%;
}

.logo {
  width: 100%;
  height: 100%;
  position: relative;
}

.logo-img {
  width: 130%;
  height: 130%;
  top: -15%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  opacity: 0; /* Skjuler baglogoet som standard */
}

.flipped .front {
  transform: rotateY(180deg);
  opacity: 0; /* Skjuler forlogoet ved flip */
}

.flipped .back {
  transform: rotateY(360deg);
  opacity: 1; /* Viser baglogoet ved flip */
}

/* Burger-menu styling */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: absolute;
  right: 20px;
  top: 15px;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Navigation list */
.nav-list {
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70px;
  margin-right: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 1rem 0;
  z-index: 9;
  font-size: 14px;
  gap: 20%;
}

.nav-list.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: -33%;
  width: 200px; /* Indstil den ønskede bredde */
  height: auto; /* Juster højden automatisk baseret på indhold */
  padding: 10px; /* Tilføj polstring for at give lidt luft omkring teksten */
}

.nav-list li {
  margin: 1rem 0;
}

.nav-list li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 78%;
}

.nav-list li a:hover {
  color: #ccc;
}

/* Sociale links */
.social-links {
  display: none;
  margin-right: 20%;
}

.social-links a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .theme-button {
    display: flex;
    align-items: center; /* Gør at logoet og knappen står på linje vertikalt */
    margin-left: -80px; /* Tilføj lidt afstand mellem logoet og knappen */
    margin-top: 1%;
    padding: 0.1rem 0.1rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .nav-list li a {
    font-size: 1.2rem;
  }

  .footer-nav {
    flex-direction: column;
    gap: 10px;
  }

  .footer-nav li {
    display: block;
  }
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    background: none;
    font-size: 16px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    width: 100px;
    height: 80px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    margin-left: 20%;
  }
  .social-links {
    display: flex;
  }
}
