/* Reset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Sort baggrund med gennemsigtighed */
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 100px;
}

/* Burger-menu styling */
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: absolute;
  right: 20px;
  top: 15px;
}

.burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Navigation list */
.nav-list {
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70px;
  margin-right: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 1rem 0;
  z-index: 9;
  font-size: 14px;
  gap: 20%;
}

.nav-list.open {
  display: flex;
}

.nav-list li {
  margin: 1rem 0;
}

.nav-list li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}

.nav-list li a:hover {
  color: #ccc;
}

/* Sociale links */
.social-links {
  display: none;
}

.social-links a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

/* Section styling */
section {
  text-align: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  z-index: 1;
}

.image-container {
  width: 100%;
  height: 650px; /* Juster højden efter behov */
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top; /* Juster placeringen (f.eks. "top", "center", eller "bottom") */
}

/* Slide-in animation for text */
.overlay-text {
  position: absolute;
  color: white;
  text-align: center;
  font-weight: bold;
  transition: transform 0.5s ease-out;
  z-index: 10;
    top: 50%; /* Juster placeringen så den vises på billedet */
  width: 100%;
}

/* Left text (designer) */
.left-text {
  top: 18%;
  left: 2%;
  width: 30%;
  color: #ffffff;
  text-align: center;
  transform: translateX(-100%);
  animation: slide-in-left 1s forwards;
}

/* Right text (coder) */
.right-text {
  bottom: 20%;
  right: 10%;
  width: 30%;
  color: #fffdf9;
  text-align: center;
  transform: translateX(100%);
  animation: slide-in-right 1s forwards;
}

@keyframes slide-in-left {
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  100% {
    transform: translateX(0);
  }
}

/* Text styling */
.overlay-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.overlay-text p {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 200%;
}

/* Section title container */
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 52%;
}

/* Line styling */
.line {
  width: 100px;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

/* Text styling */
.section-title h2 {
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

/* Footer styling */
.footer {
  background-color: #e9e9e9;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f5f5f5;
  z-index: 10;
}

.footer p {
  color: #888;
  font-size: 14px;
}

/* Footer navigation */
.footer-nav {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 30px;
}

.footer-nav li {
  display: inline;
}

.footer-nav li a {
  color: #888;
  text-decoration: none;
  font-size: 14px;
}

.footer-nav li a:hover {
  color: #000;
}

.footer-arrow {
  position: absolute;
  top: -20px; /* Juster værdien for at få den ønskede position */
  left: 50%;
  transform: translateX(-50%); /* Denne linje centrerer elementet vandret */
  background-color: #e9e9e9;
  width: 50px; /* Gør den større */
  height: 50px; /* Gør den større */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(233, 233, 233, 1);
}

.footer-arrow a svg {
  width: 30px; /* Gør pilen større */
}


/* Responsive styles */
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .nav-list li a {
    font-size: 1.2rem;
  }

  .footer-nav {
    flex-direction: column;
    gap: 10px;
  }

  .footer-nav li {
    display: block;
  }
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
  .nav-list {
    display: flex;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    background: none;
    font-size: 16px;
  }

  .social-links {
    display: flex;
  }
}
